<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>
<% if @user.introduction.present? %>
自己紹介
<%= @user.introduction %>
<% end %>
<% if @user.birthday.present? %>
誕生日
<%= @user.birthday %>
<% end %>
メールアドレス
<%= @user.email %>
<%= link_to "プロフィールの編集", edit_user_path %>